# Игнорировать файлы сборки и объектные файлы
bin/
obj/

# Игнорировать файлы пользовательских настроек
*.user
*.suo

# Игнорировать файлы резервных копий
*.bak
*.tmp

# Игнорировать файлы пакетов NuGet
packages/

# Игнорировать файлы журналов и диагностики
*.log
*.nlog

# Игнорировать файлы Visual Studio
.vs/
*.csproj.user
*.csproj.*.user
*.sln.ide

# Игнорировать результаты тестов
TestResults/